.DS_Store

*.pyc
.vagrant/*

ubuntu-xenial-16.04-cloudimg-console.log
.vagrant/

src/server/web2py/applications/*/uploads/*
src/server/web2py/applications/*/errors/*
src/server/web2py/applications/*/databases/*
src/server/web2py/applications/*/sessions/*
src/server/web2py/httpserver.log
src/server/web2py/httpserver.pid
src/server/web2py/parameters_*.py

src/client/ionic/node_modules/

ubuntu-xenial-16.04-cloudimg-console.log

vendor/
!vendor/.gitkeep
